* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  margin: 10px;
}

.profile-card {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.profile-avatar img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.flex {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.socials {
  height: 16px;
}

a {
  color: #0366d6;
  text-decoration: none;
}

a:focus, a:hover {
  text-decoration: underline;
}

ul {
  list-style: disc inside;
  padding: 0;
}

nav {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  margin-block: 10px;
}

.time {
  font-weight: 500;
  color: #444;
  background: #f0f8ff;
  padding: 0.5rem;
  border-radius: 8px;
  text-align: center;
  margin-block: 10px;
}

.left {
  text-align: center;
}

img:hover {
  outline: 8px solid ;
}

@media (min-width: 500px) {
  .profile-card {
    flex-direction: row;
    align-items: flex-start;
  }

  .profile-avatar {
    flex: 0 0 150px;
    margin-right: 1.5rem;
  }

  .profile-card > *:not(.profile-avatar) {
    flex: 1;
  }

  .flex {
    flex-direction: row;
    justify-content: space-between;
  }
}
